td.blank {
  vertical-align: center;
  horizontal-align: center;
  text-align: center;
  background: #f1f1f1;
}

td.peter {
  vertical-align: center;
  horizontal-align: center;
  text-align: center;
  background: #f1f1f1;
}
td.topic {
  vertical-align: center;
  horizontal-align: center;
  text-align: center;
  background: #ffaaff;
}
td.materials {
  vertical-align: center;
  horizontal-align: center;
  text-align: center;
  background: #aaffff;
}
td.lab {
  vertical-align: center;
  horizontal-align: center;
  text-align: center;
  background: #aaffbf;
}
td.yellow {
  vertical-align: center;
  horizontal-align: center;
  text-align: center;
  background: #ffff00;
}
